@import './base/index.scss';
@import './event/index.scss';

.dl-event-page{
    .dl-container-board{
        .page-container{
            @include dragTarget{
                width: 200px;
                height: 200px;
                margin: 0 10px 0 0;
                background-color: aquamarine;
                float: left;
                text-align: center;
                line-height: 100px;
            };
            @include dragBox{
                background: red;
                width: 100px;
                height: 100px;
                margin: 0 5px 0 0;
                float: left;
                text-align: center;
                line-height: 100px;
            };
        };
    };
};